@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    font-family:'Space Mono';
}

body{
    background-color: hsl(185, 41%, 84%);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-weight: 700;
    color: hsl(184, 14%, 56%);
}

/* container positioning */

.outer-container{
    background-color:hsl(0, 0%, 100%);
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem;
    height: auto;
    padding-bottom: 0;
}

.summary{
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
}

.title{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
h1{
    text-align: center;
    color:hsl(183, 100%, 15%);
    letter-spacing: .5rem;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

/* input styles */

.bill-input{
    position: relative;
}

input{
    text-align: right;
    width:100%;
    border: none;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    cursor: pointer;
}

input:focus{
    outline: none !important;
    border: solid hsl(172, 67%, 45%);
    border-radius: 5px;
}

input::placeholder{
    text-align: center;
}

#bill-amount{
    background: url('images/icon-dollar.svg') no-repeat;
    background-position: left 1rem top 50%;
    background-color: hsl(180, 42%, 95%);
}

#people{
    background: url('images/icon-person.svg') no-repeat;
    background-position: left 1rem top 50%;
    background-color: hsl(180, 42%, 95%);
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

/* buttons */

button{
    background-color: hsl(183, 100%, 15%);
    color: hsl(189, 41%, 97%);
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem;
    cursor: pointer;
}

.btn-group{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#btn-custom{
    background-color: hsl(180, 42%, 95%);
    color: hsl(186, 14%, 43%);
}

.btn:focus{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

#btn-reset{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    margin-top: .5rem;
}

#btn-reset:hover{
    background-color: hsl(185, 41%, 84%);
}

/* summary styles */

.summary{
    background-color: hsl(183, 100%, 15%);
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 2.5rem;
}

.white-font{
    color: hsl(0, 0%, 100%);
}

.Totals{
    position: relative;
}

#tip-amount, #total-amount{
    color: hsl(172, 67%, 45%);
    text-align: right;
    position: absolute;
    right: .5rem;
    top: 0;
    margin: 0;
    font-size: 2rem;
}

p{
    margin:0;
}

/* other style */

.count{
    position: relative;
}

#error-message{
    color:rgba(189, 76, 76, 0.76);
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

#btn-custom{
    margin: 0;
    padding: 0;
}

.footer{
    margin-top: 1rem;
}

/* styling for desktop view (1440x1024) */

@media (min-width: 750px){
    body{
        margin: 8rem 16rem 10rem 16rem;
        position: relative;
    }

    .outer-container{
        margin-top: 5.5rem;
        display:flex;
        flex-direction: row;
        gap: 2.5rem;
        border-radius: 1rem;
        padding: 1rem;
    }
    
    .input-container{
        width: 50%;
    }

    .summary{
        width: 50%;
        margin-right: 1rem;
        margin-left: 1rem;
        grid-template-rows: repeat(4, 1fr);
        gap: 2.5rem;
    }

    .Tip, .count{
        margin-top: 1.5rem;
    }
    
    .btn-group{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #btn-reset{
        grid-area: 4/1/4/4;
    }

    .btn:focus{
        background-color: hsl(185, 41%, 84%);
        color: hsl(183, 100%, 15%);
    }

    .total-amount{
        grid-area: 2/1/2/4;
    }

    .total-tip{
        grid-area: 1/1/1/4;
    }

    .footer{
        position: absolute;
        display: none;
    }
}